<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="combobox.css">
    <script src="combobox.js" defer></script>
    <script src="../../js/OpenApiVNLocationSelector.js" defer></script>
    <style>
        .combo-box {
            option {
                padding: 0.25rem;
            }
        }
    </style>
</head>
<body>
<!-- province -->
<div class="combo-box">
    <input placeholder="Select Province" aria-label="" id="provinceInput">
    <datalist role="listbox" id="provinceList">
    </datalist>
</div>
<!-- district -->
<div class="combo-box">
    <input placeholder="Select District" aria-label="" id="districtInput" disabled>
    <datalist role="listbox" id="districtList">
    </datalist>
</div>
<!-- ward -->
<div class="combo-box">
    <input placeholder="Select Ward" aria-label="" id="wardInput" disabled>
    <datalist role="listbox" id="wardList">
    </datalist>
</div>

</body>
</html>