
.serv .list-icon {
  font-size: 35px;
  color: #515151;
  padding-right: 10px;
}

.serv {
  display: flex;
  padding: 30px 0 20px;
  justify-content: center;
}

.serv span {
  font-weight: 700;
}

.service-box {
  border-bottom: 1px solid #515151;
}

.product-category {
  height: 500px;
}

.product-category-title {
  text-align: center;
  font-size: 32px;
  margin-top: 25px;
  font-weight: bold;
}

.product-category-subtitle {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.product-category-description {
  text-align: center;
  margin-bottom: 20px;
  line-height: 2;
}

.product-category-description a {
  color: #408115;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.bg-image {
  background-image: var(--bg-image-url);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center 8px;
  background-color: #f2f2f2;
  margin-top: 10px;
  margin-right: 10px;

  &:hover {
    background-image: var(--bg-image-hover-url);
    background-color: #608e41;
  }
}

.item_menu {
  border-radius: 6px;
}

.item_menu a {
  font-size: 15px;
  width: 100%;
  padding: 5px 0px !important;
  min-width: 130px !important;
  min-height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-flow: column wrap;
  color: #555;
  text-decoration: none;

  &:hover {
    color: #eef3eb;
  }
}
