.combo-box {
    --max-height: 10rem;
    --width: 200px;
    --background-color: white;
    --active-color: lightgray;
    --border-color: black;
    --scroll-bar-track-color: #f1f1f1;
    --scroll-bar-thumb-color: #888;

    display: inline-block;

    datalist {
        /*min-width: calc(var(--width) - 2px);*/
        outline: none;
        border: 1px solid var(--border-color);
        margin-top: 3px;
        position: absolute;
        max-height: var(--max-height);
        overflow-y: auto;
        background-color: var(--background-color);
    }

    datalist::-webkit-scrollbar {
        width: 4px;
    }

    datalist::-webkit-scrollbar-track {
        background: var(--scroll-bar-track-color);
        border-radius: 10px;
    }

    datalist::-webkit-scrollbar-thumb {
        background: var(--scroll-bar-thumb-color);
        border-radius: 10px;
    }

    option {
        /*overflow-x: hidden;*/
        /*text-overflow: ellipsis;*/
        line-height: 1.5;
        cursor: pointer;
    }

    option:hover, .active {
        background-color: var(--active-color);
    }
}
